<%- include header %>


<div id="addnewdoc" class="col-xs-6" style="border:1px solid #fff; padding:30px;height:500px;box-shadow: 2px 2px 5px #000;">
    <h3>添加文档</h3>
    <!-- Add new doc form, maybe using modal -->
    <form action="/admin/addnewdoc" method="post" class="form-horizontal">
        <input type="hidden" name="_csrf" value="<%= locals.token %>"/>
    <div class="form-group">
        <label for="title">文档标题</label>
        <input type="text" id="title" class="form-control" name="title" required="required" />
    </div>
    <div class="form-group">
        <label for="fileType">文件类型</label>
        <input type="text" id="fileType" class="form-control" name="fileType" required="required"/>
    </div>
    <div class="form-group">
        <label for="courseId">课程名称</label>
        <select id="courseId" class="form-control" name="courseId" required="required">
            <% if(courses[0]) { %>
            <% courses.forEach(function(course) { %>
            <option value="<%= course._id %>"><%= course.courseName %></option>
            <% }) %>
            <% } else { %>
            <option value="" disabled="disabled">没有有效课程，请先添加课程</option>
            <% } %>
        </select>
    </div>
    <div class="form-group">
        <label for="type">课程类型</label>
        <select id="type" class="form-control" name="type" required="required">
            <option value="general">通修课</option>
            <option value="professional">专业课</option>
        </select>
    </div>
    <div class="form-group">
        <label for="belongs">所属学院</label>
        <select id="belongs" class="form-control" name="belongs" required="required">
            <% if(colleges[0]) { %>
            <% colleges.forEach(function(college) { %>
            <option value="<%= college._id %>"><%= college.collegeName %></option>
            <% }) %>
            <% } else { %>
            <option value="" disabled="disabled">没有有效学院，请先添加学院</option>
            <% } %>
        </select>
    </div>
    <div class="form-group">
        <label for="link">下载地址</label>
        <input type="text" id="link" name="link" required="required"/>
        <button type="submit" class="btn btn-default">提交</button>
    </div>
    </form>
</div>
<div id="addnewcourse" class="col-xs-3" style="border:1px solid #fff; padding:30px;height:500px;box-shadow: 2px 2px 5px #000;">
    <h3>添加课程</h3>
    <form action="/admin/addnewcourse" method="post" class="form-horizontal">
        <input type="hidden" name="_csrf" value="<%= locals.token %>"/>
    <div class="form-group">
        <label for="courseName">课程名称</label>
        <input type="text" id="courseName" class="form-control" name="courseName" required="required"/>
    </div>
    <div class="form-group">
        <label for="courseType">课程类型</label>
        <select id="courseType" class="form-control" name="courseType" required="required">
            <option value="general">通修课</option>
            <option value="professional">专业课</option>
        </select>
    </div>
    <div class="form-group">
        <label for="courseBelongs">所属学院</label>
        <select id="courseBelongs" class="form-control" name="courseBelongs" required="required">
            <% if(colleges[0]) { %>
            <% colleges.forEach(function(college) { %>
            <option value="<%= college._id %>"><%= college.collegeName %></option>
            <% }) %>
            <% } else { %>
            <option value="" disabled="disabled">没有有效学院，请先添加学院</option>
            <% } %>
        </select>
    </div>
    <div class="form-group">
        <label for="coursepic">课程图像</label>
        <input type="text" id="coursepic" class="form-control" name="coursepic" required="required"/>
        <button type="submit" class="btn btn-default">提交</button>
    </form>
    </div>
</div>

<div id="addnewcollege" class="col-xs-3" style="border:1px solid #fff; padding:30px;height:500px;box-shadow: 2px 2px 5px #000;">
    <h3>添加学院</h3>
    <form action="/admin/addnewcollege" method="post" class="form-horizontal">
        <input type="hidden" name="_csrf" value="<%= locals.token %>"/>
    <div class="form-group">
        <label for="collegeName">学院名称</label>
        <input type="text" id="collegeName" class="form-control" name="collegeName" required="required"/>
    </div>
    <div class="form-group">
        <label for="collegepic">学院图像</label>
        <input type="text" id="collegepic" class="form-control" name="collegepic" required="required"/>
        <button type="submit" class="btn btn-default">提交</button>
    </div>
    </form>
</div>

<!-- list all courses & colleges -->

<div class="col-xs-12">
    <!-- <div> -->
        <!-- button group -->
        <!-- <a href="#addnewdoc">添加新文档</a> -->
    <!-- </div> -->
    <!-- docs table -->
    <table class= "table table-bordered table-hover">
        <thead>
        <tr>
            <th>文档标题</th>
            <th>文件类型</th>
            <th>上传时间</th>
            <th>下载次数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% if(docs[0]) { %>
        <% docs.forEach(function(doc) { %>
        <tr>
            <td><%= doc.title %></td>
            <td><%= doc.fileType %></td>
            <td>
                <% 
                var date = new Date(doc.updateTime * 1000);
                var 
                y = date.getFullYear(),
                m = date.getMonth() + 1,
                s = date.getDate();
                %>
                <%= y + '-' + m + '-' + s %>
            </td>
            <td><%= doc.downloads %></td>
            <td>
                <form action="/admin/delete-doc" method="post">
                    <input type="hidden" name="_csrf" value="<%= locals.token %>"/>
                    <input type="hidden" name="docid" value="<%= doc._id %>"/>
                    <button type="submit" class="btn btn-danger">删除</button>
                </form>
            </td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
            <td colspan="5">暂无文档</td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>

<div class="col-xs-6" style="clear:left;">
    <table class= "table table-bordered table-hover">
        <thead>
        <tr>
            <th>课程名称</th>
            <th>课程类型</th>
            <th>所属学院</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% if(courses[0]) { %>
        <% courses.forEach(function(course) { %>
        <tr>
            <td><%= course.courseName %></td>
            <td><%= course.courseType %></td>
            <td><%= course.courseBelongs %></td>
            <td>
                <form action="/admin/delete-course" method="post">
                    <input type="hidden" name="_csrf" value="<%= locals.token %>"/>
                    <input type="hidden" name="courseid" value="<%= course._id %>"/>
                    <button type="submit" class="btn btn btn-danger">
                        删除
                    </button>
                </form>
            </td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
            <td colspan="3">暂无课程</td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>

<div class="col-xs-6">
    <table class ="table table-bordered table-hover">
        <thead>
        <tr>
            <th>学院名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% if(colleges[0]) { %>
        <% colleges.forEach(function(college) { %>
        <tr>
            <td><%= college.collegeName %></td>
            <td>
                <form action="/admin/delete-college" method="post">
                    <input type="hidden" name="_csrf" value="<%= locals.token %>"/>
                    <input type="hidden" name="collegeid" value="<%= college._id %>"/>
                    <button type="submit" class = "btn btn-danger">
                        删除
                    </button>
                </form>
            </td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
            <td colspan="3">暂无学院</td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>

